---
import { Image } from "astro:assets";
import devwro from "../../assets/img/4devwro2023.jpg";
import devoxx from "../../assets/img/devoxx2023.jpg";
import jdd from "../../assets/img/jdd2025.jpg";
import styles from "./Speaking.module.css";
---

<section class="container-hybrid" id="speaking">
  <article>
    <h1>Speaking</h1>
    <p>
      I've presented at major tech conferences including 4developers Wrocław,
      Devoxx Poland, and JDD, sharing insights on software development, cloud
      architecture & more!
    </p>
    <div class="grid">
      <div class="grid__item">
        <Image src={jdd} alt="JDD 2025" class={styles.image} />
        <a
          href="https://www.flickr.com/photos/proideastock/54883459684/in/album-72177720329931262"
          >src: JDD 2025</a
        >
      </div>
      <div class="grid__item">
        <Image src={devwro} alt="4devwro" class={styles.image} />
        <a
          href="https://www.flickr.com/photos/proideastock/53331141176/in/album-72177720312664981"
          >src: 4 Developers Wrocław 2023</a
        >
      </div>
      <div class="grid__item">
        <Image src={devoxx} alt="devoxx" class={styles.image} />
        <a
          href="https://www.flickr.com/photos/bejug/52978165461/in/album-72177720309091435"
          >src: Devoxx PL 2023</a
        >
      </div>
    </div>
  </article>
</section>
