---
import { Icon } from "astro-icon/components";
import styles from "./Footer.module.css";

const currentYear = new Date().getFullYear();
const links = [
  {
    url: "https://github.com/sebdybowski",
    label: "Github",
    icon: "lucide:github",
  },
  {
    url: "https://pl.linkedin.com/in/sebastian-dybowski",
    label: "LinkedIn",
    icon: "lucide:linkedin",
  },
  {
    url: "https://twitter.com/sebdybowskidev",
    label: "Twitter (X)",
    icon: "lucide:twitter",
  },
  {
    url: "mailto:dybowski.seb@gmail.com",
    label: "E-mail",
    icon: "lucide:mail",
  },
];
---

<footer class:list={["container-hybrid", styles.footer]}>
  <div class={styles.footer__item}>
    <h3>{currentYear} / Seb Dybowski</h3>
    <hr class={styles.divider} />
    <p>
      Proudly created with
      <a href="https://astro.build/" target="_blank">Astro</a> and <a
        href="https://picocss.com/"
        target="_blank">Pico.css</a
      >.
    </p>
    <p>
      Advocating for <i>Free and Open Source Software</i>.<br />
      Check out this website's
      <a href="https://github.com/sebdybowski/dybowski.pro"> source code</a>.
    </p>
  </div>
  <div class={styles.footer__item}>
    <h3>Connect</h3>
    <hr class={styles.divider} />
    <ul>
      {
        links.map(({ url, label, icon }) => (
          <li>
            <a href={url} target="_blank">
              <Icon name={icon} class={styles.icon} />/ {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
