---
import { Image } from 'astro:assets';
import SectionTitle from './SectionTitle.astro';

interface Props {
  id: string;
  svg: any; // TO:DO find a proper type
  svgAlt: string;
  title: string;
  inverse?: boolean;
}

const { id, svg, svgAlt, title, inverse = false } = Astro.props;
---

<section class:list={['grid', { ['grid--inverse']: inverse }]} id={id}>
  <article>
    <SectionTitle id={id} title={title} />
    <slot />
  </article>
  <Image src={svg} alt={svgAlt} format="svg"/>
</section>

<style>
  h2::before {
    content: "# ";
    font-style: italic;
  }

  .grid > img {
    margin: var(--block-spacing-vertical) 0;
    width: 100%;
    min-width: 100%;
    align-self: center;
  }

  .grid--inverse > article {
    order: 1;
  }
</style>
