---
import { SWITCHER_ID, THEME } from "./theme";
---

<script>
  import { THEME, SWITCHER_ID, DATA_ATTRIBUTE } from "./theme";

  const button: HTMLElement | null = document.getElementById(SWITCHER_ID);
  const html: HTMLElement = document.getElementsByTagName("html")[0];

  if (button) {
    button.onclick = (): void => {
      const theme = html.getAttribute(DATA_ATTRIBUTE);

      if (theme === THEME.LIGHT) html.setAttribute(DATA_ATTRIBUTE, THEME.DARK);
      if (theme === THEME.DARK) html.setAttribute(DATA_ATTRIBUTE, THEME.LIGHT);
    };

    button.addEventListener("click", (): void => {
      const theme = html.getAttribute(DATA_ATTRIBUTE);

      if (theme) button.setAttribute("class", theme);
    });
  }
</script>

<label for={SWITCHER_ID} title="Theme switcher">
  <span>Theme:</span><br/>
  <input type="checkbox" name="switch" role="switch" id={SWITCHER_ID} />
  <strong class={`theme--indicator ${THEME.LIGHT}`}>{THEME.LIGHT} 🌞</strong>
  <strong class={`theme--indicator ${THEME.DARK}`}>{THEME.DARK} 🌙</strong>
</label>

<style>
  html .theme--indicator.dark,
  html .theme--indicator.light {
    display: none;
  }

  html[data-theme="dark"] .dark {
    display: inline;
  }

  html[data-theme="light"] .light {
    display: inline;
  }
</style>
