---
import type { ImageMetadata } from "astro";
import type { SvgComponent } from "astro/types";
import { Image } from "astro:assets";
import styles from "./Section.module.css";
import SectionTitle from "./SectionTitle/SectionTitle.astro";

interface Props {
  id: string;
  svg: SvgComponent & ImageMetadata;
  svgAlt: string;
  title: string;
  inverse?: boolean;
}

const { id, svg, svgAlt, title, inverse = false } = Astro.props;
---

<section class="container" id={id}>
  <div class:list={["grid", { [styles.gridInverse]: inverse }]}>
    <article class={styles.grid__item}>
      <SectionTitle id={id} title={title} />
      <slot />
    </article>
    <div class:list={[styles.image, styles.grid__item]}>
      <Image src={svg} alt={svgAlt} format="svg" />
    </div>
  </div>
</section>
