---
import { Icon } from "astro-icon/components";
import Company from "../components/Company/Company.astro";
import SectionTitle from "../components/Section/SectionTitle/SectionTitle.astro";

const id = "experience";
const size = "100%";

const companies = [
  {
    name: "J-Labs",
    type: "IT Services On-demand",
    icon: "solar-code-square-line-duotone",
  },
  {
    name: "Shell Energy",
    type: "Energy Supplier",
    icon: "solar-electric-refueling-line-duotone",
  },
  {
    name: "UBS",
    type: "Investment Bank",
    icon: "solar-banknote-2-line-duotone",
  },
  {
    name: "Lumesse",
    type: "Talent Acquisiton",
    icon: "solar-hand-stars-line-duotone",
  },
  {
    name: "Intive",
    type: "IT Services On-demand",
    icon: "solar-code-square-line-duotone",
  },
  {
    name: "Comarch",
    type: "Software Development",
    icon: "solar-monitor-smartphone-line-duotone",
  },
];
---

<section class="container-hybrid companies" id={id}>
  <div class="companies__inner">
    <div class="text--center">
      <SectionTitle id={id} title={id} />
      <p>Companies I had a pleasure to cooperate with:</p>
    </div>
    <div class="grid">
      {
        companies.map(({ icon, ...company }) => (
          <Company {...company}>
            <Icon
              name={icon}
              width={size}
              height={size}
              class="company__icon"
            />
          </Company>
        ))
      }
    </div>
  </div>
</section>

<style>
  #experience {
    --icon-size: 4.25rem;
    --icon-size-sm: 2.125rem;

    margin: 0;
  }

  .companies {
    margin-bottom: 2rem;
    background: var(--card-background-color);
    box-shadow: inset var(--card-box-shadow);
  }

  .companies__inner {
    padding: var(--block-spacing-vertical) 0;
  }

  .grid {
    grid-template-columns: auto auto auto;
  }

  .company__icon {
    margin-top: 0.5rem;
  }

  svg.company__icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  h1,
  p {
    text-align: center;
  }

  @media screen and (max-width: 1200px) {
    .grid {
      grid-template-columns: auto auto auto;
    }
  }

  @media screen and (max-width: 992px) {
    .grid {
      grid-template-columns: auto auto;
    }

    .company__icon {
      margin-top: 1.5rem;
    }

    svg.company__icon {
      width: var(--icon-size-sm);
      height: var(--icon-size-sm);
    }
  }
</style>
