---
import { Binary, Code2, Landmark, PlugZap, Sparkles } from "lucide-preact";
import Company from "../components/Company.astro";

const size = "4.25rem";
---

<section class="container-hybrid companies" id="experience">
  <div class="companies__inner">
    <h1># experience</h1>
    <p>Companies I had a pleasure to cooperate with:</p>
    <div class="grid">
      <Company name="J-Labs" type="IT Services On-demand">
        <Code2 size={size} />
      </Company>
      <Company name="Shell Energy" type="Energy Supplier">
        <PlugZap size={size} />
      </Company>
      <Company name="UBS" type="Investment Bank">
        <Landmark size={size} />
      </Company>
    </div>
    <div class="grid">
      <Company name="Lumesse" type="Talent Acquisiton">
        <Sparkles size={size} />
      </Company>
      <Company name="Intive" type="IT Services On-demand">
        <Code2 size={size} />
      </Company>
      <Company name="Comarch" type="Software Development">
        <Binary size={size} />
      </Company>
    </div>
  </div>
</section>

<style>
  #experience {
    margin: 0;
  }

  .companies {
    margin-bottom: 2rem;
    background: var(--card-background-color);
    box-shadow: inset var(--card-box-shadow);
  }

  h1,
  p {
    text-align: center;
  }

  .companies__inner {
    padding: var(--block-spacing-vertical) 0;
  }
</style>
